.login-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-login{
    width: 60%;
}
.login-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-form{
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 30rem;
    height: auto;
    background-color: var(--dark-gray-2);
    color: var(--light-gray);
    border-radius: .4rem;
    padding:2rem 1rem;
    transition: 2s;
}

.login-form label{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    gap: .5rem;
    transition: .5s;
}
.eye-icon{
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 2.7rem;
    right: .5rem;
    cursor: pointer;
    fill: var(--light-gray);
    transition: .5s;
}
.eye-icon:hover{
    fill: var(--blue);
}
.login-form input{
    height: 2.5rem;
    background-color: var(--dark-gray-1);
    outline: none;
    border:none ;
    border-radius: .2rem;
    font-size:var(--text-size);
    padding: 0 .6rem;
    color: var(--light-gray);
}
.enter-button{
    color:var(--light-gray);
    font-size: 1em;
    font-weight: 600;
    width: 12rem;
    background-color: var(--blue);
    /* padding: .8rem; */
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    transition: .5s;
    outline: .2rem solid var(--blue);;
    cursor: pointer;
    align-self: flex-end;
}
.enter-button:hover{
    background-color: transparent;
}
.login-error-message{
    color: rgb(255, 76, 76);
    font-size: .7em;
}