.apartment-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.items-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 900px){
    .items-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px){
    .items-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}