.apartment-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.items-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    min-height: 18rem;;
}
.items-list-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 18rem;
    color: var(--light-gray);
}



@media screen and (max-width: 900px){
    .apartment-list{
        warp:warp
    }
    .items-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px){
    .items-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}