#about{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
    flex-direction: column;
}

.team-members{  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90%;
    gap: 3rem;
}
.about-title{
    color: var(--blue);
    font-size: 2.5em;
    margin-top: -1rem;
}
.about-description{
    color: var(--light-gray);
    max-width: 55rem;
    padding: 1rem;
    font-size: 1.2em;
}

@media screen and (max-width: 900px){

    .about-title{
        font-size: 2em;
    }
    .team-members{
        gap: 2rem;
    }
}

@media screen and (max-width: 600px){
    .team-members{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .about-description{
        font-size: 1em;
    }
}