h3{
    color: var(--light-gray);
}
nav{
    position: absolute;
    top:0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    z-index: 2;
}
/* .nav-links{
    margin-right: 6rem;
} */
.button-link{
    color: var(--light-gray);
    margin: 1rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .8s;
}
.button-link:hover{
    color: var(--blue);
}
