.add-apartment-container{
    width: 100%;
    height: auto;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.add-form-container{
    display: flex;
    flex-direction: column;

}
.images-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.description-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    overflow: auto;
}

/* @media screen and (max-width: 900px){
    .images-container{
        
    }
} */

@media screen and (max-width: 600px){
    .description-container{
        margin-top: 1.5rem;
    }

}